body {
    background: url(fundo.jpg) fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

img {
    border: 10px solid transparent;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

img {
    background-image: url(imagens/voltar.png) 
}
